body {
    background-color: rgba(122, 204, 236, 0.801);
    font-family: 'Montserrat', sans-serif;
}

.main_infos {
    text-align: center;
    background-color: rgba(255, 166, 0, 0.801);
}

.dataframe {
    border-collapse: collapse;
    width: 80%; /* Largura da tabela */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border: 2px solid #3f3f3f; /* Borda da tabela */
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#item_2 {
    background-color: rgba(6, 68, 150, 0.801);
    width: 80%; /* Largura da tabela */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: whitesmoke;
}

#imagem_1 {
    background-color: rgba(6, 68, 150, 0.801);
    width: 80%; /* Largura da tabela */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: whitesmoke;
}