<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos Atuais!</title>
</head>
<body>
    <h1>Informações Atuais</h1>
    
    <form method="post">
        <label for="coin">Escolha uma moeda:</label>
        <select name="coin" id="coin">
            <option value="bitcoin">Bitcoin</option>
            <option value="ethereum">Ethereum</option>
            <option value="dogecoin">Dogecoin</option>
            <option value="cardano">Cardano</option>
            <option value="solana">Solana</option>
        </select>
        <input type="submit" value="Obter Informações!">
    </form>
    
    <br>
    <!-- Exibir informações selecionadas aqui -->
    {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
    {% endfor %}
    <br>

    <!-- botão: exibir dados históricos (redirecionar) -->
    <p align="center"><a href=historical_data ><button class=grey style="height:75px;width:150px">Verificar Dados Históricos!</button></a></p>

</body>
</html>
